nav a {
    margin-right: 5px;
    text-decoration: none;
  }
    nav a:hover {
        text-decoration: underline;
    }
    nav a.active {
        font-weight: bold;
    }
    .nav{
        width: 80%;
        margin: 0 auto;
        text-align: center;
        padding: 20px;
    }

