/* You can add global styles to this file, and also import other style files */
html, body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #f5f5f5;
}
.container{
    width: 80%;
    margin: 0 auto;
    text-align: center;
    padding: 20px;

}
.note-title{
    color: #000000;
    font-size: 20px;
    font-weight: bold;
    display: block;
    margin: 0;
    padding: 0;
    text-align: left;
    text-transform: uppercase;
    letter-spacing: 7px;
    margin-bottom: 5px;
    margin-top: 40px;

}
.note-text{
    display: block;
    text-align: left;
    color: gray;
    font-size: 10px;
}
.note-date{
    display: block;
    text-align: left;
    color: gray;
    font-size: 10px;
}

/* myforms */
.myforms{
    width: 60%;
    margin: 0 auto;
    text-align: center;
    padding: 20px;

}
input.ng-valid {
    background-color: #79ba6a;
  }
input.ng-invalid {
    background-color: #f58c84;
}
