.notes{
width: 80%;
margin: auto;
}
.notes li{
list-style: none;
padding: 0px;
margin-bottom: 20px;
background-color: white;
border-radius: 15px;
text-align: left;
}
button{
width: 100%;
padding: 10px;
border: none;
cursor: pointer;
background: none;
}